<!DOCTYPE html>
<html>
<body>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<h2>Extract Text and Images from PDF</h2>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="pdfFile" name="pdfFile" accept=".pdf">
    <input type="button" value="Extract Text" onclick="extractText()">
    <input type="button" value="Extract Images" onclick="extractImages()">
    <p>Enter Min Width:</p>
    <input type="number" id="minWidth" name="minWidth">
    <p>Enter Min Height:</p>
    <input type="number" id="minHeight" name="minHeight">
    <br>
    <input type="button" value="Create Presentation" onclick="createPresentation()">
    <br>
    <p>Enter Page:</p>
    <input type="number" id="page" name="page">
    <p>Enter Prompt:</p>
    <input type="text" id="prompt" name="prompt">
    <br>
    <input type="button" value="upload" onclick="upload">
</form>

<div id="result_text"></div>
<div id="result_image"></div>
<div id="result_presentation"></div>


<script src="{{ url_for('static', filename='js/main_page.js') }}"></script>

</body>
</html>